<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
 <div class="container-fluid">
	<div class="navbar-header">
        <button type="button"
				class="navbar-toggle" data-target-id="header-menu">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
        </button>
		<%= link_to "Twitterアプリ", {:controller => "tweets", :action => "index" } , { :class => "navbar-brand" } %>
	</div>
	<div class="navbar-collapse collapse" style="height: 1px;">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Settings(fix)</a></li>
            <li><a href="#">Profile(fix)</a></li>
			<li><%= link_to 'logout', login_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %></li>
		</ul>
        <form class="navbar-form navbar-right">
			<input type="text" class="form-control" placeholder="Search...(fix)">
		</form>
	</div>
 </div>
</div>


 <div class="container-fluid">
   <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active"><%= link_to 'すべてのタグ', tweet_path(0), method: :get %></li>
			<% @hashtags.each do |hashtag| %>
				<li><%= link_to hashtag.name, tweet_path(hashtag), method: :get %></li>
			<% end %>
		</ul>
	</div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">Twitter</h1>
						
			<%= form_for(@tweet) do |f| %>
				<% if @tweet.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

						<ul>
							<% @tweet.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>

				<div class="field">
					<%= f.label :tweet %><br>
					<%= f.text_area :tweet, :class => "form-control", :size => "40x3" %>
				</div>
				<div class="actions">
					<%= f.submit '送信' , data: { disable_with: '送信中' } %>
				</div>
			<% end %>
			<table>
				<thead>
					<tr>
						<th>User</th>
						<th>Tweet</th>
						<th>Time</th>
						<th colspan="3"></th>
					</tr>
				</thead>
	
				<tbody>
					<% @tweets.each do |tweet| %>
						<tr>
							<td><%= tweet.userName %></td>
							<td><%= simple_format(tweet.tweet) %></td>
							<td><%= tweet.created_at.strftime("%m/%d %H:%M") %></td>
							<td><%= link_to_if(tweet.userId.to_i == session[:user_id].to_i, '削除', tweet, method: :delete, data: { confirm: 'Are you sure?' }){} %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<br>


			

		
	</div>
 </div>
</div>
